@{
    ViewData["Title"] = "Log in here";
}
<p>Params: @ViewData["Params"]</p>
<p>Signed: @ViewData["Signed"]</p>
<p>Kid: @ViewData["Kid"]</p>
<p>Sig: @ViewData["Sig"]</p>

<h1>@ViewData["Results"]</h1>